__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

*.pt
*.pkl
*.npz
*.h5
*.keras

.vscode/
.idea/
*.swp
*.swo

.DS_Store


**/finetuning_frozen_clap
**/finetuning_frozen_whisper
**/full_finetuning_clap
**/full_finetuning_whisper
**/trad_ml/**/clap
**/trad_ml/**/mfcc
**/trad_ml/**/opensmile
**/trad_ml/**/vggish
**/trad_ml/**/whisper

**/tuni_emotion/3sec_data

**/*feature_selection_3sec
**/*feature_selection_500ms

**/anonymise_tuni_parquet_filenames.py


